absl-py==1.0.0
argon2-cffi==21.1.0
asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
autocorrect==2.6.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bleach==4.1.0
bs4==0.0.1
cachetools==4.2.4
cairocffi==1.3.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
cycler==0.11.0
debugpy==1.5.1

Flask==2.0.2
Flask-Cors==3.0.10
flatbuffers==2.0
fonttools==4.28.3
func-timeout==4.3.5
hon==1.1.0
grpcio==1.43.0
gunicorn==20.1.0
h11==0.13.0
h5py==3.6.0
httplib2==0.21.0
ibm-cos-sdk==2.7.0
ibm-cos-sdk-core==2.7.0
ibm-cos-sdk-s3transfer==2.7.0
ibm-watson-machine-learning==1.0.286
idna==2.10
imageio==2.16.2
importlib-metadata==4.10.0
importlib-resources==5.4.0
imutils==0.5.4
indicate==0.1.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==12.0.0
lmdb==1.3.0
lomond==0.3.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mistune==0.8.4
mlxtend==0.19.0



numpy==1.21.4
oauthlib==3.1.1

packaging==21.3
pandas==1.3.4


path==16.4.0
pickleshare==0.7.5

pipreqs==0.4.11

python-bidi==0.4.2
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.3.0

regex==2022.3.15
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.0.1
scipy==1.7.3
seaborn==0.11.2

sklearn==0.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-addons==0.17.1
tensorflow-estimator==2.7.0
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.23.1

testpath==0.5.0
textblob==0.17.1

tzdata==2021.5
uritemplate==4.1.1
urllib3==1.26.7
virtualenv==20.13.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
whois==0.9.27
widgetsnbextension==3.5.2
xgboost==1.6.1

